@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Titillium+Web);

main#primeiro {
    font-family: 'Times New Roman';
    background-color: #C0C0C0;
    border-radius: 10px;
    width: 90%;
    height: auto;
    margin: auto;
    border-width: medium;
    border-style: solid;
    border-color: #363636;
}
main#primeiro1{
    font-family: 'Times New Roman';
        border-radius: 10px;
    border-width: 5px;
    width: 90%;
    height: auto;
    margin: auto;

}
main#segundo {

    font-family: 'Times New Roman';
    background-color: #C0C0C0;
    border-radius: 10px;
    width: 90%;
    height: auto;
    margin: auto;
    border-width: medium;
    border-style: solid;
    border-color: #363636;

}
body {
    font-family: 'Times New Roman';
    background-color: #20B2AA;
    background-image: url('fundo.png');
}
footer {
    font-family: 'Times New Roman';
    background-color: #808080;
    width: 90%;
    height: 30px;
    border-radius: 10px;
    margin: auto;
    margin-bottom: auto;
    border-width: medium;
    border-style: solid;
    border-color: #363636;
}
video#vi {
    margin: auto;
    border-radius: 10px;
    border-width: medium;
    border-style: solid;
    border-color: #363636;
}
div#nav {
    border-radius: 10px;
    background-color:#808080;
    width: 90%;
    margin-top: auto;
    margin: auto;
    border-width: medium;
    border-style: solid;
    border-color: #363636;
    
}
b#ti {
    font-family:'Times New Roman';
    margin-top: -5px;
    font-size: 40px;
}
div#md {
    border-radius: 10px;
}

p#t {
    margin-left: auto;
    font-size: 18px;
}
button#s {


    font-family: 'Times New Roman';
    border-radius: 10px;

}
img {
    margin: center;
    border-radius: 10px;
}
div#i {
    font-size: 20px;
    margin: center;
    text-align: center;
}
hr {
    border-width: 10px;
}



h1#ca {
    text-align: center;
    font-family: 'Times New Roman';

}

div#po {
    font-family: 'Times New Roman';

    font-size: 20px;
    margin-left: 10px;
}

div#o {
    font-family: 'Times New Roman';
    font-size: 18px;
    margin-left: 10px;


}

hr#h {
    border-width: 2px;
}


img#ic {
    margin-left: 90%;
    margin-top: -8%;
}

nav#n{
    margin-left: -3,5%;
   
}
a{

   text-decoration: none;  
}

h4#tl{
text-align: center;
margin-top: -50px;
}