@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Titillium+Web);


main#primeiro {
    font-family: 'Titillium Web', Sans-Serif;
    background-color: black;
    border-radius: 10px;
    width: 90%;
    height: auto;
    margin: auto;

}
main#segundo {

    font-family: 'Titillium Web', Sans-Serif;
    background-color: #F5FFFA;
    border-radius: 10px;
    width: 90%;
    height: auto;
    margin: auto;
    border-width: medium;
    border-style: solid;
    border-color: #00FFFF;

}
body {
    font-family: 'Titillium Web', Sans-Serif;
    background-color: #20B2AA;
}
footer {
    font-family: 'Titillium Web', Sans-Serif;
    background-color: #E0FFFF;
    width: 90%;
    height: 30px;
    border-radius: 10px;
    margin: auto;
    margin-bottom: auto;
}
video#vi {
    margin: auto;
    border-radius: 10px;
   ;

}
div#nav {
    border-radius: 10px;
    background-color: #E0FFFF;
    width: 90%;
    margin-top: auto;
    margin: auto;
}
div#k7 {
    margin-left: auto;
}
b#ti {
    font-family: 'Titillium Web', Sans-Serif;
    margin-top: -5px;
    font-size: 40px;
}
div#md {
    border-radius: 10px;
}
div#nt {
    font-family: 'Titillium Web', Sans-Serif;
    text-align: center;
}
p#t {
    margin-left: auto;
    font-size: 18px;
}
button#s {


    font-family: 'Titillium Web', Sans-Serif;
    border-radius: 10px;

}
img {
    margin: center;
    border-radius: 10px;
}
b#i {
    font-size: 20px;

}
<?<php>

if (isset($_POST['name']) && !empty($_POST['email'])){
$nome = addcslashes($_POST['name'])
$email = addcslashes($_POST['email'])

$to = 'email.';
$subject = 'igoralmeidasucegan56@gmail.com';
$body = "nome".$nome "\r\n"
        "email".$email "\r\n";
$headar = "form : igoralmeidasucegan56@gmail.com"."\r\n".
        "Replay-to".$email."\r\n".
        "X=Mailer:PHP/".phpversion();
if(mail($to,$subject,$body,$headar)){

    echo("email foi entregue!");

}else{

    echo("email não foi entregue");

}
}
</php>